/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  color: #1f2937; /* Primary text color */
  background-color: #f9fafb; /* Light background */
}

button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

